header {
  background-color: rgb(241, 241, 241);
}
section {
  a {
    color: black;
    text-decoration: unset;
  }
  display: flex;
  justify-content: center;
  .send {
    max-width: 200px;
  }

  .bloc_card {
    justify-content: center;
    margin: 0px 2px;
    padding: unset;
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    max-width: 350px;
    max-height: 350px;

    .card {
      max-height: 400px;
      margin: 10px 2px;
      background-color: rgb(241, 241, 241);
    }
  }
}
footer {
  background-color: rgb(241, 241, 241);
}
